body {
    background-color: white;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* boton flotante de whatsapp */
.btn-wsp{
    position:fixed;
    width:61px;
    height:61px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
.btn-wsp:hover{
    background: #FFF;
    color: #26c061;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}




/* nav principal */
.feet-site{
    background-color: white;
}
.site-header {
    background-color: #0d2033;
    width: 100%; /* Ancho*/ 
    height:180px; /*alto */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    color: white;
    position: relative;
}

/* titulo de la rifa */
.content-tittle{
    width: 100%; /* Ancho*/ 
    height:200px; /*alto */
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.elementor-widget-tittle{
    width: 100%; /* Ancho*/ 
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elementor-heading-tittle{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* texto del titulo */
.custom-tittle {
    color: rgba(0, 0, 0, 0.575);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
}

/* descripcion de la rifa */
.elementor-widget-descrip{
    width: 100%; /* Ancho*/ 
    height:50%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.elementor-heading-descrip{
    width: 90%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.custom-descrip {
    color: rgba(13, 13, 14, 0.575);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* imagen principal */
.site-branding{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
.imgP{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
}


/* scroll de imagenes */
.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 115px auto 0;
}
.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: top -20px; 
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.5s;
    font-size: 20px;
    font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: white;
}
.hi-slide .hi-prev{ left: -60px;}
.hi-slide .hi-prev::before{
    content: '<';
}
.hi-slide .hi-next{
    right: -60px;
}
.hi-slide .hi-next::before{
    content: '>';
}
.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding:0;
}
.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: absolute;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    cursor: pointer;
    background-color: #333;

}
.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}


/* Estilos generales */

.progreso {

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    width: 100%;
    height: 200px;
    align-content: center;
}
.envoltura {
    width: 60%;
    position: relative;
    background-color: #eee;
    color: #fff;
    height: 100%;
    border-radius: 2px;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d2033;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    transition: width 1s ease-in-out;
    overflow: hidden;
}

.texto {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 15px;
}

.porcentaje {
    padding-right: 15px;
}

/* Clases de estado */
.envoltura.informacion .barra {
    background-color: #5bc0de;
}

.envoltura.exito .barra {
    background-color: #5cb85c;
}

.envoltura.advertencia .barra {
    background-color: #f8ad4e;
}

.envoltura.peligro .barra {
    background-color: #d9534f;
}

.titulo {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .texto {
        padding-left: 10px;
    }
}

.interno .envoltura,
.envoltura {
    height: auto;
}






/* Valor por numero  */
.content-valor{
    width: 100%; /* Ancho*/ 
    height:100px; /*alto */
    padding: 30px 0;

}
.container-separar{
    width: 0%; /* Ancho*/ 
    height:100%;
}
.elementor-valor{
    width: 100%; /* Ancho*/ 
    height:100%;
    display: flex;
}
.heading-valor{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
/* texto del valor */
.custom-text {
    color: rgba(0, 0, 0, 0.575);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}



/* cartas promocionales */
.sections {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.card {
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.cart-button {
    background-color: #0d2033; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* otras opciones de compra */
.dialog {
    text-align: center;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
}
.dialog input[type="number"] {
    width: 50px;
    text-align: center;
}



/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}