{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RifaAPP</title>
    <link  type='text/css' rel='stylesheet' href='{% static "css/pagina_principal.css" %}'>
</head>
<body>
  <div  class="feet-site" id="page">
    <!-- imagen logo -->
    <header class="site-header">
      <div class="">
        <span class="site-logo-img">
          <a href="#" class="curtom-logo-link">
            <img width="250" height="210" src="static/img/logo.png" alt="RifaAPP" class="custom-logo">
          </a>
        </span>
      </div>
    </header>

    <div class="site-content">
      <div class="content-area-primary">
        <main class="site-main" id="main">

          <!-- titulo de la rifa -->
          {% if titulo %}
          <div class="content-tittle">
            <div class="elementor-widget-tittle">
              <h2 class="elementor-heading-tittle custom-tittle">{{ titulo }}</h2>
            </div>
          </div>
          {% else %}
          <p>No hay datos disponibles</p>
          {% endif %}

          <!-- descripcion de la rifa -->
          {% if descripcion %}
          <div class="content-descrip">
            <div class="elementor-widget-descrip">
              <h2 class="elementor-heading-descrip  custom-descrip">{{ descripcion }}</h2>
            </div>
          </div>
          {% else %}
          <p>No hay datos disponibles</p>
          {% endif %}


          <!-- Imagenes de promocion -->
          <div class="site-branding">
            <span class="site-img-Principal">
              <img width="700" height="600" src="{{imagen_url}}" class="custom-img-Principal">
            </span>
          </div>



          <!-- barra de progreso de ventas -->
          <div class="barra-progres">
        
          </div>


          <!-- cartas comprar promocion -->
          <div class="sections">
            {% if valores %}
            {% for valor in valores %}
            <div class="card">
              <h2>x{{ valor.cantidad }}</h2>
              <p>${{ valor.precio }}</p>
              <p>Pesos colombianos</p>
              <button class="cart-button">Comprar</button>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay datos disponibles</p>
            {% endif %}
          </div>
        
          <!-- otras opciones de compra -->
          <div class="dialog">
            <input type="number" value="2">
            <button class="cart-button">Agregar al carrito</button>
          </div>
          <!-- article post-1 -->
        </main>
        <!-- site-main -->
      </div>
      <!-- content-area-primary -->
    </div>
    <!-- site-content -->
  </div>
  <!-- feet site -->

    

  <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© 2024 Mi Página Web</span>
      </div>
  </footer>
</body>
</html>